.superpowers/
.env
freeswitch/build.log
*.log

# entrypoint.sh, *.tmpl sablonlarini ayni adin .tmpl'siz haline render eder;
# bu ciktilar sirlar icerebilir (orn. FS_ESL_PASSWORD) ve asla commit edilmemeli.
# Bind-mount nedeniyle host'ta da olusurlar (bkz. freeswitch/entrypoint.sh).
freeswitch/conf/autoload_configs/event_socket.conf.xml
freeswitch/conf/autoload_configs/switch.conf.xml
freeswitch/conf/autoload_configs/pgsql.conf.xml
freeswitch/conf/autoload_configs/db.conf.xml
# xml_curl.conf.xml tasimiyor ama ayni bind-mount/render mekanizmasindan
# geciyor; tutarlilik icin ayni sekilde yok sayiliyor.
freeswitch/conf/autoload_configs/xml_curl.conf.xml
