<configuration name="db.conf" description="Database Configuration">
  <settings>
    <!-- PostgreSQL ODBC Connection String -->
    <!-- Format: pgsql://host:port/database?user=username&password=password -->
    <param name="odbc-dsn" value="pgsql://host=postgres port=5432 dbname=${POSTGRES_DB} user=${POSTGRES_USER} password=${POSTGRES_PASSWORD} options='-c client_encoding=utf8'"/>
  </settings>
</configuration>