#!KAMAILIO
debug=2
log_stderror=yes
fork=no
children=4
listen=udp:0.0.0.0:5060

loadmodule "tm.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "pv.so"
loadmodule "maxfwd.so"
loadmodule "sanity.so"

request_route {
    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483", "Too Many Hops");
        exit;
    }
    sl_send_reply("404", "Not Configured Yet");
    exit;
}
